<div class="card-panel row layout-card-gray-2">
  <div class="row no-mar-bot">
    <div class="col s12 m12 l12">
      <div class="col s12">
        <span class="text-lg mb-4" style="padding-bottom: 16px"
          >Observaciones</span
        >
        <div class="divider mt-10"></div>
      </div>
    </div>
  </div>

  <div class="row no-mar-bot">
    <form novalidate [formGroup]="observaciones">
      <div class="row no-mar-bot">
        <div class="col s12 m12 l12">
          <div class="input-field col s12 m12 l4">
            <div>
              <label for="" style="font-size: 1rem">Compilación :</label>
            </div>
          </div>
          <div class="col s12 m12 l8">
            <div style="margin-top: 13px">
              <label style="padding-right: 30px">
                <input class="with-gap" name="compilacion" type="radio" value="1" formControlName="compilacion" />
                <span>Inmediato</span>
              </label>
              <label>
                <input
                  class="with-gap"
                  name="compilacion"
                  type="radio"
                  value="2"
                  formControlName="compilacion"                                    
                />
                <span>Especificar en condiciones especiales</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-mar-bot">
        <div class="col s12 m12 l12">
          <div class="input-field col s12 w-full">
            <mat-form-field class="w-full" floatLabel="always">
              <mat-label >Detallar las condiciones especiales</mat-label>
              <input
                matInput
                formControlName="condicionesEspeciales"
                id="condicionesEspeciales"
                type="text"
                class="validate removeMaterialize"      
                simpleSpaces        
                maxlength="300"
              />
            </mat-form-field>
            <div *ngIf="this.f.condicionesEspeciales.invalid && (this.f.condicionesEspeciales.touched || this.f.condicionesEspeciales.dirty)">
              <span *ngIf="this.f.condicionesEspeciales?.errors?.required" class="text-danger">
                * Ingrese condiciones especiales
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>