<div class="card-panel row layout-card-gray-2">
  <div class="row no-mar-bot">
    <div class="col s12 m12 l12">
      <div class="col s12">
        <span class="text-lg mb-4" style="padding-bottom: 16px"
          >Comentarios</span
        >
        <div class="divider mt-10"></div>
      </div>
    </div>
  </div>

  <div class="row no-mar-bot">
    <form novalidate [formGroup]="comentarios">
      <div class="row no-mar-bot">
        <div class="col s12 m12 l12" >
            <mat-form-field class="example-full-width" appearance="fill" style="display: contents;">
              <mat-label></mat-label>
              <textarea 
                matInput 
                formControlName="comentario" 
                placeholder="" 
                simpleSpaces
                [ngStyle]="{'height':height}"
                [readonly]="isRegistro">
              </textarea>
            </mat-form-field>
            <div *ngIf="f.comentario.invalid && (f.comentario.touched || f.comentario.dirty)">
              <div *ngIf="f.comentario.errors?.required" class="text-danger">
                * Ingrese Comentario
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>
