<div class="card-panel row layout-card-gray-2">
  <div class="row no-mar-bot">
    <div class="col s12 m12 l12">
      <div class="col s12">
        <span class="text-lg mb-4" style="padding-bottom: 16px">Archivos</span>
        <div class="divider mt-10"></div>
      </div>
    </div>
  </div>

  <div class="row no-mar-bot">
    <form novalidate [formGroup]="archivos">

      <ng-container *ngIf="tipoPase === eAplicacionWeb">

        <table cellpadding="0" cellspacing="0" width="100%" >
          <tbody>
            <tr>
              <th>Archivo</th>
              <th>Archivo</th>
              <th>Archivo</th>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                  <input
                  formControlName="Archivo1"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
                </div>
              </td>
              <td>
                <div class="w-full">
                  <input
                  formControlName="Archivo2"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
                </div>
              </td>
              <td>
                <div class="w-full">
                  <input
                  formControlName="Archivo3"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                  <input
                  formControlName="Archivo4"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
                </div>
              </td>
              <td>
                <div class="w-full">
                  <input
                  formControlName="Archivo5"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
                </div>
              </td>
              <td>
                <div class="w-full">
                  <input
                  formControlName="Archivo6"
                  type="text"
                  class="validate"
                  maxlength="50"
                />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      

      <!-- Pagina Web -->
      <ng-container *ngIf="tipoPase === ePaginasWeb">

        <table cellpadding="0" cellspacing="0" width="100%" >
          <tbody>
            <tr>
              <th>Archivo</th>
              <th>Destino</th>
              <th>Archivo</th>
              <th>Destino</th>
              <th>Archivo</th>
              <th>Destino</th>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo1_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino1_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo2_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino2_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo3_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino3_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo4_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino4_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo5_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino5_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo6_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino6_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo7_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino7_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo8_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino8_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo9_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino9_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo10_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino10_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo11_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino11_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo12_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino12_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo13_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino13_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo14_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino14_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo15_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino15_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo16_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino16_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo17_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino17_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo18_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino18_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo19_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino19_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo20_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino20_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo21_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino21_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo22_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino22_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo23_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino23_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo24_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino24_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo25_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino25_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo26_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino26_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo27_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino27_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo28_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino28_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo29_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino29_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Archivo30_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino30_PaginaWeb"
                      type="text"
                      class="validate"
                      maxlength="50"
                    />
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        
      </ng-container>
              

      <!-- Spring -->
      <ng-container *ngIf="tipoPase === eSpring">
        <table cellpadding="0" cellspacing="0" width="100%" >
          <tbody>
            <tr>
              <th width="25%">Módulo</th>
              <th colspan="2">Fuente - Destino</th>
            </tr>
            <tr>
              <td>

              </td>
              <td>
                Fuente
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Fuente1_Spring"
                      type="text"
                      class="validate"
                      maxlength="150"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="input-field-common">
                  <mat-form-field >
                    <mat-select formControlName="Modulo1">
                        <ng-container *ngFor="let m of lstModulos">
                           <mat-option [value]="m.valor">{{m.descripcion}}</mat-option>
                        </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
              <td>
                Destino
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino1_Spring"
                      type="text"
                      class="validate"
                      maxlength="150"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>

              </td>
              <td>
                Fuente
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Fuente2_Spring"
                      type="text"
                      class="validate"
                      maxlength="150"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="input-field-common">
                  <mat-form-field >
                    <mat-select formControlName="Modulo2">
                        <ng-container *ngFor="let m of lstModulos">
                           <mat-option [value]="m.valor">{{m.descripcion}}</mat-option>
                        </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
              <td>
                Destino
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino2_Spring"
                      type="text"
                      class="validate"
                      maxlength="150"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>

              </td>
              <td>
                Fuente
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Fuente3_Spring"
                      type="text"
                      class="validate"
                      maxlength="150"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="input-field-common">
                  <mat-form-field >
                    <mat-select formControlName="Modulo3">
                        <ng-container *ngFor="let m of lstModulos">
                           <mat-option [value]="m.valor">{{m.descripcion}}</mat-option>
                        </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
              <td>
                Destino
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino3_Spring"
                      type="text"
                      class="validate"
                      maxlength="150"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>

              </td>
              <td>
                Fuente
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Fuente4_Spring"
                      type="text"
                      class="validate"
                      maxlength="150"
                    />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="input-field-common">
                  <mat-form-field >
                    <mat-select formControlName="Modulo4">
                        <ng-container *ngFor="let m of lstModulos">
                           <mat-option [value]="m.valor">{{m.descripcion}}</mat-option>
                        </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
              <td>
                Destino
              </td>
              <td>
                <div class="w-full">
                    <input
                      formControlName="Destino4_Spring"
                      type="text"
                      class="validate"
                      maxlength="150"
                    />
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-container>
             
    </form>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>