<div class="row">
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Comentario</mat-label>
        <textarea 
            matInput
            maxlength="300"
            [formControl]="comentario"
        >
        </textarea>
    </mat-form-field>
    <span 
        *ngIf="(comentario.touched || comentario.dirty) &&
         (comentario.errors?.required || comentario.errors?.whitespace)"
        style="color: red;"
    >
        Debe registrar comentario.
    </span>
</div>
<div class="row">
    <div class="col s12 m6 l6">
        <button (click)="aceptar()" class="btn btn-default-resize" style="margin-top:23px;">
            <span>Aceptar</span>
            <i class="material-icons"></i>
        </button>
    </div>
    <div class="col s12 m6 l6">
        <button mat-dialog-close class="btn btn-default-resize" style="margin-top:23px;">
            <span>Cancelar</span>
            <i class="material-icons"></i>
        </button>
    </div>
</div>