<div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
      <div class="col s12 m12 l12">
        <div class="col s12">
          <span class="text-lg mb-4" style="padding-bottom: 16px">
            {{ title }}
          </span>
          <div class="divider mt-10"></div>
        </div>
      </div>
    </div>

    <div class="row no-mar-bot">
      <div *ngIf="subtitle" class="col s12 m12 l12">
        <label style="font-size: 14px;" class="text-lg mb-4">{{ subtitle }}</label>
      </div>
      <div *ngFor="let is of lstInformacion" class="col s12 m12 l12">
        <span class="text-lg mb-4">* {{ is.titulo }}</span>
        <br>
        <div *ngFor="let row of is.item">
          <label >
            - {{ row.descripcion }}
          </label>
          <br>
        </div>
      </div>           
    </div>
</div>    