<div class="container">
  <div class="section no-padding">
    <div class="row col s12 no-mar-bot">
      <div class="d-flex section no-mar-bot">
        <div>
          <h1 class="title">PASE A PRODUCCIÓN - {{ title }}</h1>
        </div>
        <div class="push">
          <h1 *ngIf="idPase !== 0" class="title-id">Id: {{ idPase }}</h1>
        </div>
      </div>
    </div>
  </div>
  
  <app-datos-generales 
    #datosGeneralesComp 
    [tipoPase]="tipoPase"
    [pase]="pase">
  </app-datos-generales>
  <app-archivo 
    #archivoComp
    *ngIf="tipoPase !== eAS400_IBS"
    [tipoPase]="tipoPase"
    [pase]="pase">
  </app-archivo>
  <app-objetos
    #objetosComp
    *ngIf="tipoPase === eAS400_IBS"
    [pase]="pase">
  </app-objetos>
  <app-observaciones 
    #observacionesComp
    [pase]="pase">
  </app-observaciones>
  <app-informacion-soporte [tipoPase]="tipoPase"></app-informacion-soporte>
  <app-sustento
    #sustentoComp 
    *ngIf="!pase || (cPerfil === eANA && estado === 4)">
  </app-sustento>
  <app-sustento-descargas 
    *ngIf="pase"
    [pase]="pase">
  </app-sustento-descargas>
  <app-comentario
    #comentarioComp 
    [pase]="pase">
  </app-comentario>
  <app-flujo-reporte 
    [pase]="pase">
  </app-flujo-reporte>

  <div *ngIf="cPerfil === eANA && (estado === -1 || estado === 4)" class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
      <div class="col s12 m4 l2">
        <button (click)="salir()" class="btn waves-effect waves-light btn-default-resize" >
          <span>Salir</span>
          <i class="material-icons"></i>
        </button>
      </div>
      <div class="col s12 m4 l2"></div>
      <div class="col s12 m4 l4">
        <button (click)="grabarEnviarEjecutivo()" class="btn waves-effect waves-light btn-default-resize" >
          <span>Grabar y enviar a ejecutivo</span>
          <i class="material-icons"></i>
        </button>
      </div>
      <div class="col s12 m4 l4"></div>
    </div>
  </div>

  <div *ngIf="permisosBotones" class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
      <div class="col s12 m4 l2">
        <button (click)="salir()" class="btn waves-effect waves-light btn-default-resize" >
          <span>Salir</span>
          <i class="material-icons"></i>
        </button>
      </div>
      <div class="col s12 m4 l1"></div>
      <div class="col s12 m4 l2">
        <button (click)="derivarPase(1)" class="btn waves-effect waves-light btn-default-resize" >
          <span>Aprobar</span>
          <i class="material-icons"></i>
        </button>
      </div>
      <div class="col s12 m4 l2">
        <button (click)="derivarPase(2)" class="btn waves-effect waves-light btn-default-resize" >
          <span>Rechazar</span>
          <i class="material-icons"></i>
        </button>
      </div>
      <div class="col s12 m4 l2">
        <button (click)="derivarPase(3)" class="btn waves-effect waves-light btn-default-resize" >
          <span>Anular</span>
          <i class="material-icons"></i>
        </button>
      </div>
      <div class="col s12 m4 l3"></div>
    </div>
  </div>

  <div *ngIf="!(cPerfil === eANA && (estado === -1 || estado === 4)) && !permisosBotones" class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
      <div class="col s12 m4 l2">
        <button (click)="salir()" class="btn waves-effect waves-light btn-default-resize" >
          <span>Salir</span>
          <i class="material-icons"></i>
        </button>
      </div>
    </div>
  </div>

</div>
<app-loading *ngIf="loading"></app-loading>
