
.container{
    width: 85% !important;
}

.d-flex{
    display: flex;
}

.push {
    margin-left: auto;
}

.title-id{
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #41af4f;
  padding-left: 10px;
  margin: 10px 0;
}