<div class="row">
        <mat-form-field style="width: 100%;">
            <mat-label>Tipo de Plataforma</mat-label>
            <mat-select [formControl]="CodTipoPlataforma">
                <ng-container *ngFor="let tipoPlataforma of listTipoPlataforma">
                    <mat-option value="{{tipoPlataforma.codTipoPlataforma}}">{{ tipoPlataforma.descripcion }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <span 
            *ngIf="(CodTipoPlataforma.touched || CodTipoPlataforma.dirty) && CodTipoPlataforma.errors?.required"
            style="color: red;"
        >
            Debe seleccionar un tipo de plataforma. 
        </span>
</div>
<div class="row">
    <div class="col s12 m6 l6">
        <button (click)="aceptar()" class="btn btn-default-resize" style="margin-top:23px;">
            <span>Aceptar</span>
            <i class="material-icons"></i>
        </button>
    </div>
    <div class="col s12 m6 l6">
        <button mat-dialog-close class="btn btn-default-resize" style="margin-top:23px;">
            <span>Cancelar</span>
            <i class="material-icons"></i>
        </button>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>