<div class="card-panel row layout-card-gray-2">
    <div class="row no-mar-bot">
      <div class="col s12 m12 l12">
        <div class="col s12">
          <span class="text-lg mb-4">Pruebas y/o Sustento</span>
          <div class="divider mt-10"></div>
        </div>
      </div>
    </div>
    <br>
    <div class="row no-mar-bot">
        <div *ngFor="let s of lstSustentos" class="col s12 m12 l6 mb-5">
            <div class="f-center">
                <i class="material-icons" (click)="descargar(s)" style="cursor: pointer;">file_download</i> 
                <label>{{ s.nombreAbreviatura }}</label>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>